{% extends "index.html" %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
            </header>
                <div class="post-description">
                    <p>
                        {{ post.content }}
                        </br>
                        <p class="post-category" >{{ post.category }}</p>
                        <p class="post-time">
                        <b>Time</b>: <a>{{ post.date_time }}</a>
                        </p>
                    </p>
                </div>
        </section>
        <hr>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}