<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/page_styles.css">
    <title>tuxinghuan's blog</title>
</head>
<body>
<div>
    <div>
        <div>
            <div class="guide">
            <ul>
                <li><a href="#" >关于我</a></li>
                <li><a href="#" >所有博客</a></li>
                <li><a href="#" >给我留言</a></li>
            </ul>
            </div>  
        </div>
    </div>

    <div>
        <div>
        <div class="post-content">
            {% block content %}
            {% endblock %}
    </div>
</div>

</body>
</html>