{% extends "home.html" %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <div class="post-preview">
            <a href="{% url "detail" id=post.id %}">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.content}}
              </h3>
            </a>
            <p class="post-meta">
              {{post.time}}
          </div>
          <hr>
   
    {% endfor %}

</div>
</div><!-- /.blog-post -->
<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a class="btn btn-default" href="?page={{ post_list.previous_page_number }}" role="button">previous</a>
        {% endif %}

       {% for page_number in post_list.paginator.page_range %}
            {% if page_number != post_list.number %}
                    <a class="btn btn-default" href="?page={{ page_number }}" role="button">{{ page_number }}</a>
            {% else %}
                    <b>{{ page_number }}</b>
            {% endif %}
            {% endfor %}
            


        {% if post_list.has_next %}
            <a class="btn btn-default" href="?page={{ post_list.next_page_number }}" role=>next</a>
        {% endif %}
    </span>
{% endblock %}