<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>tuxinghuan's blog</title>
</head>
<body>
<div>
    <div>
        <div>
            <div class="guide">
                <a  text-decoration: none>关于我</a>
                <a  text-decoration: none>所有博客</a>
                <a  text-decoration: none>给我留言</a>
            </div>
            <hr margin-top: "1000px";>
        </div>
    </div>

    <div>
        <div>
        <div class="post-content">
            {% block content %}
            {% endblock %}
    </div>
</div>

</body>
</html>