{% extends "home.html" %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <div class="post-block">
                <a class="article_link" href="{% url "detail" id=post.id %}"><h2 class="post-title">{{ post.title }}</h2></a>
                <div class="post-description">
                    <p>
                        {{ post.content }}
                        </br>
                        <div class="post-category_time">
                        <p class="post-category" >分类：{{ post.category }}</p>
                        <p class="post-time">{{ post.date_time }}</p>
                        </div>
                    </p>
                </div>
        </div>
   
    {% endfor %}

</div>
</div><!-- /.blog-post -->
<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}">next</a>
        {% endif %}
    </span>
{% endblock %}